div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 {{thread.name}}

.container
  .row
    .col-lg-12
      //- h1.page-header {{thread.name}}
      h2 {{thread.title}}
      p {{thread.description}}
      div.media-element(ng-repeat='post in posts')
        p
          div 
            a(ui-sref="user({id:post.owner.name})")
              {{post.owner.name}} > 
            {{post.name}}
          button.close(type='button', ng-click='deletePost(post)') ×

  form.thing-form
    label Your Thoughts
    p.input-group
      input.form-control(type='text', placeholder='Add a new thing here.', ng-model='newThing')
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='addPost()') Post

footer.footer
  .container
    p
      | Flash Forum 0.1
      //- = ' | '
      //- a(href='https://twitter.com/tyhenkel') @tyhenkel
      //- = ' | '
      //- a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues