div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 {{thread.name}}
footer.footer
  .container
    p
      | Flash Forum 0.1
      //- = ' | '
      //- a(href='https://twitter.com/tyhenkel') @tyhenkel
      //- = ' | '
      //- a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues