div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Flash Forum
    p Stupid Fast Forum
    img(src='http://www.apres.co.uk/ebay/img/badges/mrt/mrT_2.jpg', width=100, alt='STUPID fast')
.container
  .row
    .col-lg-12
      h1.page-header New Thread
      form.thing-form
        label Your Thoughts
        p.input-group
          input.form-control(type='text', placeholder='Name your thread, ser', ng-model='thread.name')
          span.input-group-btn
            button.btn.btn-primary(type='submit', ng-click='addThread()') New Thread

.container
  .row
    .col-lg-12
      h2 {{thread.title}}
      p {{thread.description}}
      div.media-element(ng-repeat='thread in threads')
        p
          div 
            a(ui-sref="thread({name:thread.name})")
              {{thread.name}}
          button.close(type='button', ng-click='deleteThread(thread)') ×

footer.footer
  .container
    p
      | Flash Forum 0.1