div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Flash Forum
    p Stupid Fast Forum
    img(src='http://www.apres.co.uk/ebay/img/badges/mrt/mrT_2.jpg', width=100, alt='STUPID fast')
.container
  .row
    .col-sm-8
      h1.page-header latest threads
      div.media-element(ng-repeat='thread in threads')
        div 
          a(ui-sref="thread({name:thread.name})")
            h2
              {{thread.name}}
          h3
            {{thread.tagline}}
          p
            {{thread.description}}
          button.close(type='button', ng-click='deleteThread(thread)') ×    
    .col-sm-4
      h1.page-header New Thread
      form.thing-form
        label
        p.input-group
          input.form-control(type='text', placeholder='Name your thread, ser', ng-model='thread.name')
          span.input-group-btn
            button.btn.btn-primary(type='submit', ng-click='addThread()') New Thread
     

footer.footer
  .container
    p
      | Flash Forum 0.1