div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Flash Forum
    p Stupid Fast Forum
    img(src='http://www.apres.co.uk/ebay/img/badges/mrt/mrT_2.jpg', width=100, alt='STUPID fast')

    form.new-forum-post
      label
      p.input-group
        input.input-large.form-control(type='text', placeholder='Name your new thread!', ng-model='thread.name')
        span.input-group-btn
          button.btn.btn-success(type='submit', ng-click='addThread()') New Thread
.container
  .row
    .col-sm-8
      h2.page-header latest threads
      div.media-element(ng-repeat='thread in threads')
        div 
          a(ui-sref="thread({name:thread.shortname})")
            h2
              {{thread.name}}
          h3
            {{thread.tagline}}
          p
            {{thread.description}}
          button.close(type='button', ng-click='deleteThread(thread)') ×    
    //- .col-sm-4
    //-   h2.page-header Your threads

     

footer.footer
  .container
    p
      | Flash Forum 0.1